<a href="https://colab.research.google.com/github/ankitaggarwal64/Agricultural-Equipment-Sales-Forecasting/blob/main/Project%20Overview%20and%20Data%20Ingestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Agriculture Equipment Monthly Sales Forecasting** 
	
**Overview:**
This project is done to provide a multinational automobile company with the best sales forecasting model for their agricultual equipments. Along with the actual sales data, company provided other relevant data including economic and commodity indices which might be helpful for forecasting.



---


**Data Description:**
Following two types of information is provided :
1.   *Past Sales Data :* January 1990 to December 2016 (27 Years)


2.  *Additional Predictive Information *
*   Monthly Macroeconomic Indices ( GDP, Unemployment rate, CPI, 30YearMtggRate etc.)
*   Monthly Commodity Indices ( Hay, Corn, Wheat, Dairy, Livestock, BRLCSPOT.D7 etc.)




---



**Problem Statement:**
Develop an accurate sales prediction model for forecasting the sales for next 12 months in future.


---
**Metrics**:

 

*   RMSE(Root Mean Squared Error) will be considered as primary performance metric.
*   Other tracked metrics: MAPE(Mean Absolute Percentage) and Bias
*   Uncertainity in forecasting will also needs to be closed tracked.

**Data Understanding and Data Ingestion :**
 Further in this noteook, we will look at all the provided data, filter out the relevant data and try to consolidate all the required data in a single file.

**1.Importing and Understanding Sales Data**

In [163]:
# Importing libraries 
import pandas as pd

In [164]:
# Read sales data excel workbook
sales_workbook = pd.ExcelFile("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Raw Data/AG Industry_2017-02-13.xlsx")
# Listing out the worksheet in the excel workbook
print(sales_workbook.sheet_names) 
# Looks like each sheet correspond to sales data for a particular product

['Total', 'Tractors 0-20', 'Tractors 20-40', 'Tractors 0-40', 'Tractors 40-60', 'Tractors 60-100', 'Tractors 100-140', 'Tractors 140+', '4WD', 'Combines', 'SP Sprayers', 'DMC', 'SMC', 'RND B', 'SM SQ B', 'LG SQ  B', 'SPFH ', 'SPW']

In [165]:
# Creating a dictionary of sheets in workbook
Sales_dict = {sheet: sales_workbook.parse(sheet) for sheet in sales_workbook.sheet_names}
print(type(Sales))

<class 'pandas.core.frame.DataFrame'>

As a proof of concept, we will first work on only one product "4wd" from all the available products data

In [166]:
# Since we are interested in "4wd" sales data, let's extract the corresponding worksheet
Sales = Sales_dict['4WD']
print(Sales)
print(type(Sales))
print(Sales.shape)

    INDUSTRY  JAN  FEB  MAR   APR   MAY  ...  AUG  SEP   OCT  NOV  DEC  TOTAL
0       1990  505  467  467   593   866  ...  371  269   778  618  531   6771
1       1991  241  231  506   703   765  ...  319  296   780  247  522   5483
2       1992  271  209  484   413   342  ...  179  168   498  342  323   3719
3       1993  313  228  367   613   358  ...  231  277   555  645  698   4839
4       1994  356  247  594   574   364  ...  218  268   582  473  550   4781
5       1995  366  452  655   810   507  ...  265  316   749  620  706   5920
6       1996  457  485  591   977   515  ...  229  380   839  486  564   6169
7       1997  378  485  759  1272  1044  ...  451  557   968  654  711   8337
8       1998  488  434  759   878   468  ...  217  227   500  325  372   5329
9       1999  335  308  395   571   367  ...  133  232   421  257  324   3804
10      2000  223  236  420   590   294  ...  187  211   466  144  268   3529
11      2001  255  244  491   732   385  ...  158  169   430  225  382   3996
12      2002  271  184  374   562   352  ...  112  172   454  114  278   3240
13      2003  215  175  335   642   341  ...  128  256   571  160  325   3501
14      2004  255  206  448   704   290  ...  171  202   780  223  444   4311
15      2005  292  171  381   833   351  ...  243  286   612  233  332   4282
16      2006  251  264  446   487   300  ...  151  240   512  148  340   3643
17      2007  230  188  449   678   394  ...  167  302   809  271  456   4445
18      2008  273  285  585   610   512  ...  412  545   734  342  560   5640
19      2009  313  382  499   608   513  ...  399  559   687  315  542   5701
20      2010  327  456  705   853   461  ...  412  653  1117  394  750   7132
21      2011  506  461  624   883   588  ...  434  700  1125  481  662   7347
22      2012  359  487  745   883   611  ...  583  774  1498  632  901   8524
23      2013  678  669  702   851   554  ...  587  571  1225  643  960   8470
24      2014  631  575  655   745   474  ...  369  486   731  354  512   6329
25      2015  220  346  499   430   260  ...  167  249   515  222  516   3992
26      2016  243  222  258   335   234  ...  102  200   611  205  328   3137

[27 rows x 14 columns]
<class 'pandas.core.frame.DataFrame'>
(27, 14)

Observations from Sales data:  
1.   Monthly sales are provided from 1990 to 2016 (27 Years)

2.   There are no missing values

In [167]:
# Checking Duplicates
Sales.duplicated().sum() 
# No duplicate rows are present

0

Now we would like to sales data dataframe to a single column time series format

In [168]:
# Removing the yearly total sales column as this is not required and can be generated when ever requried in analysis
if "TOTAL" in Sales.columns:
  Sales = Sales.drop("TOTAL", axis=1)

In [169]:
Sales.shape
display(Sales)

    INDUSTRY  JAN  FEB  MAR   APR   MAY  JUN  JUL  AUG  SEP   OCT  NOV  DEC
0       1990  505  467  467   593   866  715  591  371  269   778  618  531
1       1991  241  231  506   703   765  576  297  319  296   780  247  522
2       1992  271  209  484   413   342  310  180  179  168   498  342  323
3       1993  313  228  367   613   358  346  208  231  277   555  645  698
4       1994  356  247  594   574   364  296  259  218  268   582  473  550
5       1995  366  452  655   810   507  258  216  265  316   749  620  706
6       1996  457  485  591   977   515  430  216  229  380   839  486  564
7       1997  378  485  759  1272  1044  584  474  451  557   968  654  711
8       1998  488  434  759   878   468  315  346  217  227   500  325  372
9       1999  335  308  395   571   367  266  195  133  232   421  257  324
10      2000  223  236  420   590   294  226  264  187  211   466  144  268
11      2001  255  244  491   732   385  281  244  158  169   430  225  382
12      2002  271  184  374   562   352  233  134  112  172   454  114  278
13      2003  215  175  335   642   341  177  176  128  256   571  160  325
14      2004  255  206  448   704   290  344  244  171  202   780  223  444
15      2005  292  171  381   833   351  308  240  243  286   612  233  332
16      2006  251  264  446   487   300  274  230  151  240   512  148  340
17      2007  230  188  449   678   394  266  235  167  302   809  271  456
18      2008  273  285  585   610   512  435  347  412  545   734  342  560
19      2009  313  382  499   608   513  436  448  399  559   687  315  542
20      2010  327  456  705   853   461  569  435  412  653  1117  394  750
21      2011  506  461  624   883   588  426  457  434  700  1125  481  662
22      2012  359  487  745   883   611  499  552  583  774  1498  632  901
23      2013  678  669  702   851   554  539  491  587  571  1225  643  960
24      2014  631  575  655   745   474  408  389  369  486   731  354  512
25      2015  220  346  499   430   260  300  268  167  249   515  222  516
26      2016  243  222  258   335   234  247  152  102  200   611  205  328

In [170]:
import numpy as np
Sales_t = Sales.T
display(Sales_t)

            0     1     2     3     4   ...    22    23    24    25    26
INDUSTRY  1990  1991  1992  1993  1994  ...  2012  2013  2014  2015  2016
JAN        505   241   271   313   356  ...   359   678   631   220   243
FEB        467   231   209   228   247  ...   487   669   575   346   222
MAR        467   506   484   367   594  ...   745   702   655   499   258
APR        593   703   413   613   574  ...   883   851   745   430   335
MAY        866   765   342   358   364  ...   611   554   474   260   234
JUN        715   576   310   346   296  ...   499   539   408   300   247
JUL        591   297   180   208   259  ...   552   491   389   268   152
AUG        371   319   179   231   218  ...   583   587   369   167   102
SEP        269   296   168   277   268  ...   774   571   486   249   200
OCT        778   780   498   555   582  ...  1498  1225   731   515   611
NOV        618   247   342   645   473  ...   632   643   354   222   205
DEC        531   522   323   698   550  ...   901   960   512   516   328

[13 rows x 27 columns]

In [171]:
Sales_t.columns= Sales_t.iloc[0]
Sales_tt = Sales_t.drop("INDUSTRY",axis=0)
display(Sales_tt)

INDUSTRY  1990  1991  1992  1993  1994  ...  2012  2013  2014  2015  2016
JAN        505   241   271   313   356  ...   359   678   631   220   243
FEB        467   231   209   228   247  ...   487   669   575   346   222
MAR        467   506   484   367   594  ...   745   702   655   499   258
APR        593   703   413   613   574  ...   883   851   745   430   335
MAY        866   765   342   358   364  ...   611   554   474   260   234
JUN        715   576   310   346   296  ...   499   539   408   300   247
JUL        591   297   180   208   259  ...   552   491   389   268   152
AUG        371   319   179   231   218  ...   583   587   369   167   102
SEP        269   296   168   277   268  ...   774   571   486   249   200
OCT        778   780   498   555   582  ...  1498  1225   731   515   611
NOV        618   247   342   645   473  ...   632   643   354   222   205
DEC        531   522   323   698   550  ...   901   960   512   516   328

[12 rows x 27 columns]

In [172]:
Sales_melt = Sales_tt.melt(id_vars=None)
Sales_melt.columns = ["Year","Sales"]
display(Sales_melt)

     Year  Sales
0    1990    505
1    1990    467
2    1990    467
3    1990    593
4    1990    866
..    ...    ...
319  2016    102
320  2016    200
321  2016    611
322  2016    205
323  2016    328

[324 rows x 2 columns]

In [173]:
# Creating a dataframe of date range for using it in final Sales table
Time = pd.DataFrame(pd.date_range(start='1990',end = "2017", freq='M'))

In [174]:
#Creating a Final Sales table in Time series format
Sales_ts = pd.concat([Time,Sales_melt["Sales"]],axis=1)
Sales_ts.columns = ["Time","Sales"]
Sales_ts = Sales_ts.set_index("Time")
Sales_ts

            Sales
Time
1990-01-31    505
1990-02-28    467
1990-03-31    467
1990-04-30    593
1990-05-31    866
...           ...
2016-08-31    102
2016-09-30    200
2016-10-31    611
2016-11-30    205
2016-12-31    328

[324 rows x 1 columns]

**2.Importing and Understanding Indices Data**

In [175]:
# Read additional Predictive Information - Indices data
Indices = pd.read_csv("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/indicies_combined.csv")

In [176]:
# Checking head and tail of Indices
display(Indices.head(12))

   YearMonth  livestock1  ...  ConstructionEm  ConsumerConfidenceI
0     Jan-90         NaN  ...            5.42                106.5
1     Feb-90         NaN  ...            5.42                106.7
2     Mar-90         NaN  ...            5.39                110.6
3     Apr-90         NaN  ...            5.36                107.3
4     May-90         NaN  ...            5.32                107.3
5     Jun-90         NaN  ...            5.30                102.4
6     Jul-90         NaN  ...            5.27                101.7
7     Aug-90         NaN  ...            5.23                 84.7
8     Sep-90         NaN  ...            5.20                 85.6
9     Oct-90         NaN  ...            5.13                 62.6
10    Nov-90         NaN  ...            5.10                 61.7
11    Dec-90         NaN  ...            5.05                 61.2

[12 rows x 36 columns]

In [177]:
display(Indices.tail(12))

    YearMonth  livestock1  ...  ConstructionEm  ConsumerConfidenceI
318    16-Jul        0.91  ...            6.71                 96.7
319    16-Aug        0.80  ...            6.70                101.8
320    16-Sep        0.78  ...            6.73                103.5
321    16-Oct        0.71  ...            6.74                100.8
322    16-Nov        0.76  ...            6.77                109.4
323    16-Dec        0.84  ...            6.78                113.3
324    17-Jan        0.86  ...            6.82                111.6
325    17-Feb        0.85  ...            6.87                116.1
326    17-Mar        0.93  ...            6.87                124.9
327    17-Apr        0.97  ...            6.88                120.3
328    17-May        1.04  ...             NaN                  NaN
329    17-Jun        1.15  ...             NaN                  NaN

[12 rows x 36 columns]

In [178]:
# Checking the shape of data
Indices.shape

(330, 36)


Obersations from initial data exploration:
*   Indices data range from Jan 1990 to Jun 2017
*   Data has total 35 indices and 1(1st) column representing time
*   Data defintely has lot of missing values in the starting and at the end. Missing values in complete data needs to be checked

In [179]:
# checking Data types for columns
Indices.dtypes

YearMonth                 object
livestock1               float64
livestock2               float64
livestock3               float64
livestock4               float64
livestock5               float64
livestock6               float64
corn1                    float64
corn2                    float64
corn3                    float64
corn4                    float64
wheat1                   float64
wheat2                   float64
wheat3                   float64
wheat4                   float64
wheat5                   float64
hay1                     float64
hay2                     float64
dairy1                   float64
dairy2                   float64
dairy3                   float64
dairy4                   float64
dairy5                   float64
dairy6                   float64
BRLCSPOT.D7              float64
STRTXOK.D7               float64
FarmIncome               float64
Non-ResidentialInvest    float64
HOUST                    float64
RealGDP                  float64
Unemploy                 float64
Interest_US              float64
ConsumerInflt            float64
30YearMtggRate           float64
ConstructionEm           float64
ConsumerConfidenceI      float64
dtype: object

In [180]:
# Set YearMonth column as index
Indices.index = Indices["YearMonth"]

In [181]:
# droping YearMonth Column
Indices = Indices.drop("YearMonth",axis=1)

In [182]:
display(Indices)

           livestock1  livestock2  ...  ConstructionEm  ConsumerConfidenceI
YearMonth                          ...
Jan-90            NaN       79.06  ...            5.42                106.5
Feb-90            NaN       79.04  ...            5.42                106.7
Mar-90            NaN       79.16  ...            5.39                110.6
Apr-90            NaN       79.89  ...            5.36                107.3
May-90            NaN       78.28  ...            5.32                107.3
...               ...         ...  ...             ...                  ...
17-Feb           0.85      120.60  ...            6.87                116.1
17-Mar           0.93      126.34  ...            6.87                124.9
17-Apr           0.97      128.44  ...            6.88                120.3
17-May           1.04      135.55  ...             NaN                  NaN
17-Jun           1.15      134.63  ...             NaN                  NaN

[330 rows x 35 columns]

**3.Combining Sales and Indices data**

Since our sales data is upto Dec 2016, We will keep our indices data also until dec 2016 , therefore considering no information after Dec 2016 is available

In [ ]:
# Considering data till Dec-2016
Indices_till_2016 = Indices.iloc[0:324,:]
display(Indices_till_2016)

In [247]:
# Setting indices for Indices dataframe same as sales data
Indices_till_2016.index = Sales_ts.index
#Combining Sales and Indices data
sales_ind = pd.concat([Sales_ts, Indices_till_2016],axis=1)
display(sales_ind)

            Sales  livestock1  ...  ConstructionEm  ConsumerConfidenceI
Time                           ...
1990-01-31    505         NaN  ...            5.42                106.5
1990-02-28    467         NaN  ...            5.42                106.7
1990-03-31    467         NaN  ...            5.39                110.6
1990-04-30    593         NaN  ...            5.36                107.3
1990-05-31    866         NaN  ...            5.32                107.3
...           ...         ...  ...             ...                  ...
2016-08-31    102        0.80  ...            6.70                101.8
2016-09-30    200        0.78  ...            6.73                103.5
2016-10-31    611        0.71  ...            6.74                100.8
2016-11-30    205        0.76  ...            6.77                109.4
2016-12-31    328        0.84  ...            6.78                113.3

[324 rows x 36 columns]

In [282]:
# Saving the sales & indices combined file
sales_ind.to_csv("sales_ind.csv")